*{
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.navbar-collapse{
    left: 0;
    padding-left: 1em;
    background-color: darkgray;
    position: absolute;
    z-index: 5;
    top: 84px;
    width: 100%;
}

#navHeader{
    position: fixed;
    z-index: 5;
    width: 100%;
}

#portada{
    position:relative;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 1em;
    width: 100%;
    background-color: #E5D100;
}

#logo{
    border-radius: 50%;
    box-shadow: 0px 0px 15px black;
    margin-bottom: 2em;
    
}

#portada h2{
    margin-bottom: 1em;
}

#portada h3{
    padding-bottom: 1em;
}

.separador{
   margin: auto;
    width: 60%;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 2em;
    
    
}

#sobreMi{
    padding-top: 0.5em;
    color: white;
    background-color: grey;
}

#tabs{
    padding-bottom: 1em;
}

.p-container{
    padding: 1em 2em 2em 2em;
    text-align: justify;
}

.nav-item{
    border: solid 3px black;
    background-color: #D7D702;
    
}

.nav-link{
    color: black;
}

.card{
    width: 200px;
    border-radius: 10%;
    margin: 1em;
    text-align: center;
    border: solid 3px black;
}

.card-accordion{
    margin: 1em;
    text-align: center;
    background-color: #D7D702;
    border: solid 3px black;
    
    box-shadow: 0px 3px 10px black;
}

.tab-content button{
    color: #003975;
}

.card-body-collapse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img-top{
    margin: auto;
    width: 100px;
    padding-top: 1em;
}

.card-text{
    color:black;
}

.content-list{
    width: 50%;
    margin: auto;
    text-align: center;
    
}

.content-list ul{
    margin-top: 1em;
    
    
}

.content-list li{
    background-color: #D7D702;
    margin: 0.2em;
    box-shadow: 3px 3px 5px black;
    color: black;
}

.carousel{
    width: 70%;
    margin: auto;
}

.modal-body{
    text-align: center;
}




#proyectos{
    background-color: #E5D100;
    padding: 1em;
    
}

.carousel-inner{
    border-radius: 10%;
    border: solid 6px black;
    box-shadow: 0px 0px 5px black;
}

.carousel-caption{
    z-index: 1;
    background-color: rgba(20,20,20,0.7);
    box-shadow: 0px 5px 5px black;
    width: 100%;
    left: 0;
    
}

.modal-content{
    background-color: lightgray;
}

.modal-body p{
    padding: 1em; 
    text-align:justify;
    font-size: 20px;
}

#contacto{
    background-color: gray;
    color: white;
    padding-bottom: 1em;
    text-align: center;
}

.icono{
    padding: 0.5em;
}

.iconoFont{
    width: 20px;
}

.footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 100%;
    position: absolute;
    
}

#contacto a{
    text-decoration: underline;
    color: #0D0D0D;
    
}